
.serachIcon{
	margin-top:20px;
	margin-left: 20px;
	position: absolute;
	border: 1px solid #000;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
	

}
.serachIcon:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 10px;
	top: 16px;
	left: 8px;
	background: #000;

}
.serachIconOne{
	margin-top:20px;
	margin-left: 60px;
	position: absolute;
	border: 1px solid #000;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	-webkit-transform:rotate(-45deg);
	transform: rotate(-45deg);
}
.serachIconOne:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 10px;
	top: 16px;
	left: 8px;
	background: #000;
}
.serachIconJian{
	color: #000;
	position: absolute;
	margin-top: 20px;
	margin-left: 100px;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	border-radius: 8px;
	-webkit-transform:rotate(-45deg);
	transform: rotate(-45deg);
}
.serachIconJian:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 10px;
	top: 16px;
	left: 8px;
	background: #000;
}
.serachIconJian i{
	position: absolute;
	left: 5px;
	top: 5px;
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
}
.serachIconJian i:before{
	content: "";
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #000;
}
.serachIconAdd{
	color: #000;
	position: absolute;
	margin-top: 20px;
	margin-left: 140px;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	border-radius: 8px;
	-webkit-transform:rotate(-45deg);
	transform: rotate(-45deg);
}
.serachIconAdd:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 10px;
	top: 16px;
	left: 8px;
	background: #000;
}
.serachIconAdd i{
	position: absolute;
	left: 5px;
	top: 5px;
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
}
.serachIconAdd i:before{
	content: "";
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #000;
}

.serachIconAdd i:after{
	content: "";
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #000;
	-webkit-transform:rotate(90deg);
	transform: rotate(90deg);
}
.reduceIcon{
	position: absolute;
	color: #000;
	margin-top: 20px;
	margin-left: 180px;
	width: 24px;
	height: 24px;
}
.reduceIcon:before{
	content: "";
	position: absolute;
	top: 10px;
	width: 24px;
	height: 1px;
	background-color: #000;
}
.addIcon{
	position: absolute;
	color: #000;
	margin-top: 20px;
	margin-left: 220px;
	width: 24px;
	height: 24px;
}
.addIcon:before{
	content: "";
	position: absolute;
	top: 10px;
	width: 24px;
	height: 1px;
	background-color: #000;
}
.addIcon:after{
	content: "";
	position: absolute;
	left: 12px;
	width: 1px;
	height: 24px;
	background-color: #000;
}
.closeIcon{
	position: absolute;
	color: #000;
	margin-top: 20px;
	margin-left: 260px;
	width: 24px;
	height: 24px;
}
.closeIcon:before{
	content: "";
	position: absolute;
	top: 10px;
	height: 1px;
	width: 24px;
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
	background-color: #000;
}
.closeIcon:after{
	content: "";
	position: absolute;
	top: 10px;
	height: 1px;
	width: 24px;
	-webkit-transform:rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #000;
}
.menuIcon{
	position: absolute;
	margin-top: 30px;
	margin-left: 300px;
	color: #000;
	width: 20px;
	height: 1px;
	background-color: #000;
}
.menuIcon:before{
	content: "";
	position: absolute;
	margin-top: -5px;
	color: #000;
	width: 20px;
	height: 1px;
	background-color: #000;
}
.menuIcon:after{
	content: "";
	position: absolute;
	margin-top: 5px;
	color: #000;
	width: 20px;
	height: 1px;
	background-color: #000;
}
.moveleftIcon{
	color: #000;
	position: absolute;
	margin-left: 345px;
	margin-top: 30px;
	height: 1px;
	width: 24px;
	background-color: #000;
}
.moveleftIcon:before{
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	left: 1px;
	top: -6px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
}
.moverightIcon{
    color: #000;
	position: absolute;
	margin-left: 390px;
	margin-top: 30px;
	height: 1px;
	width: 24px;
	background-color: #000;
}
.moverightIcon:before{
    content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	left: 9px;
	top: -6px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform:rotate(-45deg);
	transform: rotate(-45deg);
}
.moveupIcon{
	color: #000;
	position: absolute;
	margin-left: 445px;
	margin-top: 20px;
	height: 24px;
	width: 1px;
	background-color: #000;
}
.moveupIcon:before{
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	left: -6px;
	top: 1px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform:rotate(135deg);
	transform: rotate(135deg);
}
.movedownIcon{
	color: #000;
	position: absolute;
	margin-left: 480px;
	margin-top: 20px;
	height: 24px;
	width: 1px;
	background-color: #000;
}
.movedownIcon:before{
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	left: -6px;
	top: 9px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform:rotate(-45deg);
	transform: rotate(-45deg);
}
.checkIcon{
    color: #000;
    position: absolute;
    margin-left: 520px;
    margin-top: 15px;
    width: 24px;
    height: 15px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}
.trashboxIcon{
	color: #000;
	position: absolute;
	margin-left: 580px;
	margin-top: 20px;
	height: 1px;
	width: 30px;
	background-color: #000;
}
.trashboxIcon:before{
	content: "";
	position: absolute;
	left: 7px;
	top: -7px;
	width: 16px;
	height: 4px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-radius: 2px 2px 0 0;
}
.trashboxIcon:after{
	content: "";
	position: absolute;
	left: 5px;
	top: 3px;
	width: 20px;
	height: 25px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 0 0 6px 6px; 
}
.positionIcon{
	color: #000;
	position: absolute;
	margin-left: 650px;
	margin-top: 20px;
	width: 12px;
	height: 12px;
	border:1px solid #000;
	border-radius: 6px;
}
.positionIcon:before{
	content: "";
	position: absolute;
	left: -7px;
	top: -7px;
	width: 24px;
	height: 24px;
	border: 1px solid #000;
	border-radius: 12px 12px 0 12px;
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
}
.heartIcon{
	color: #000;
	position: absolute;
	margin-top: 18px;
	margin-left: 720px;
	height: 25px;
	width:25px;
	border-right:1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.heartIcon:before{
	content: "";
	position: absolute;
	top: -10px;
	left: 1px;
	width: 23px;
	height: 10px;
	border-radius: 10px 10px 0 0;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.heartIcon:after{
	content: "";
	position: absolute;
	top: 8px;
	left: -16px;
	width: 23px;
	height: 10px;
	border-radius:0 0 10px 10px;
	/*border-top: 1px solid #000;*/
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
.personIcon{
	position: absolute;
	color: #000;
	margin-top: 10px;
	margin-left: 790px;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	border-radius: 8px;
}
.personIcon:before{
	content: "";
	position: absolute;
	top: 16px;
	left: -12px;
    width: 40px;
    height: 16px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid transparent;
    border-radius: 16px 16px 0 0;
}
.emailIcon{
	position: absolute;
	color: #000;
	margin-top: 10px;
	margin-left: 840px;
	width: 40px;
	height: 30px;
	border: 1px solid #000;
}
.emailIcon:before{
	content: "";
	position: absolute;
	left: 5px;
	top: -15px;
	height: 29px;
	width: 29px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}